*.tlog
*.sdf
*.suo
*.user
*.log
*.obj
*.idb
*.pdb
*.lastbuildstate
*.ilk
*.cache
*.lib
*.exe
JEJ_Engine/Debug/Resources/log.txt
android/*
android/*/*
android/*/*/*
android/*/*/*/*
android/*/*/*/*/*
android/*/*/*/*/*/*
android/*/*/*/*/*/*/*
android/*/*/*/*/*/*/*/*
android/*/*/*/*/*/*/*/*/*
android/*/*/*/*/*/*/*/*/*/*
android/*/*/*/*/*/*/*/*/*/*/*
android/*/*/*/*/*/*/*/*/*/*/*/*
android/*/*/*/*/*/*/*/*/*/*/*/*/*
android/*/*/*/*/*/*/*/*/*/*/*/*/*/*
android/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!android/native-activity/app/src/main/*
!android/native-activity/app/src/main/*/*
!android/native-activity/app/src/main/*/*/*
!android/native-activity/app/src/main/*/*/*/*

